mainline/GamMatrixAPI/Service References/GmCore/GmCore.Proxies.PartnerAPI.Vivo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmCore.Proxies.PartnerAPI.Vivo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmCore.Proxies.PartnerAPI.Vivo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVivoActiveTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VivoActiveTable" nillable="true" type="tns:VivoActiveTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVivoActiveTable" nillable="true" type="tns:ArrayOfVivoActiveTable" />
  <xs:complexType name="VivoActiveTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LimitID" type="xs:long" />
      <xs:element minOccurs="0" name="LimitMax" type="xs:int" />
      <xs:element minOccurs="0" name="LimitMin" type="xs:int" />
      <xs:element minOccurs="0" name="LimitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableID" type="xs:long" />
      <xs:element minOccurs="0" name="TableStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VivoActiveTable" nillable="true" type="tns:VivoActiveTable" />
</xs:schema>