mainline/GamMatrixAPI/Service References/GmCore/GmCore.Proxies.EnvoyWebServiceProxy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmCore.Proxies.EnvoyWebServiceProxy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmCore.Proxies.EnvoyWebServiceProxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBankDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankDetailsResult" nillable="true" type="tns:BankDetailsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankDetailsResult" nillable="true" type="tns:ArrayOfBankDetailsResult" />
  <xs:complexType name="BankDetailsResult">
    <xs:sequence>
      <xs:element name="accountNumberField" nillable="true" type="xs:string" />
      <xs:element name="accountTypeField" nillable="true" type="xs:string" />
      <xs:element name="bankAccountCountryField" nillable="true" type="xs:string" />
      <xs:element name="bankAccountCurrencyField" nillable="true" type="xs:string" />
      <xs:element name="bankCodeField" nillable="true" type="xs:string" />
      <xs:element name="bankGiroField" nillable="true" type="xs:string" />
      <xs:element name="bankNameField" nillable="true" type="xs:string" />
      <xs:element name="branchAddressField" nillable="true" type="xs:string" />
      <xs:element name="branchCodeField" nillable="true" type="xs:string" />
      <xs:element name="checkDigitsField" type="xs:int" />
      <xs:element name="ibanField" nillable="true" type="xs:string" />
      <xs:element name="note1Field" nillable="true" type="xs:string" />
      <xs:element name="note2Field" nillable="true" type="xs:string" />
      <xs:element name="swiftField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankDetailsResult" nillable="true" type="tns:BankDetailsResult" />
</xs:schema>