mainline/GamMatrixAPI/Service References/GmCore/GmCore.Proxies.BingoNetwork.UserManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmCore.Proxies.BingoNetwork.UserManagerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmCore.Proxies.BingoNetwork.UserManagerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BingoSession">
    <xs:sequence>
      <xs:element name="avatar_urlField" nillable="true" type="xs:string" />
      <xs:element name="exceptionField" nillable="true" type="xs:string" />
      <xs:element name="expiresField" type="xs:dateTime" />
      <xs:element name="login_nameField" nillable="true" type="xs:string" />
      <xs:element name="nickField" nillable="true" type="xs:string" />
      <xs:element name="session_idField" nillable="true" type="xs:string" />
      <xs:element name="successField" type="xs:boolean" />
      <xs:element name="tc_accept_urlField" nillable="true" type="xs:string" />
      <xs:element name="tc_captionField" nillable="true" type="xs:string" />
      <xs:element name="tc_must_acceptField" type="xs:boolean" />
      <xs:element name="tc_urlField" nillable="true" type="xs:string" />
      <xs:element name="user_idField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BingoSession" nillable="true" type="tns:BingoSession" />
</xs:schema>