mainline/GamMatrixAPI/Service References/GmCore/GmCore.Proxies.BingoNetwork.ContentProviderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmCore.Proxies.BingoNetwork.ContentProviderService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmCore.Proxies.BingoNetwork.ContentProviderService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAvatarEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvatarEntry" nillable="true" type="tns:AvatarEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvatarEntry" nillable="true" type="tns:ArrayOfAvatarEntry" />
  <xs:complexType name="AvatarEntry">
    <xs:sequence>
      <xs:element name="categoryField" type="xs:int" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="idField" type="xs:int" />
      <xs:element name="urlField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarEntry" nillable="true" type="tns:AvatarEntry" />
</xs:schema>