mainline/GamMatrixAPI/Service References/GmCore/GmPayments.Providers.MoneyMatrix.Responses.Customer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmPayments.Providers.MoneyMatrix.Responses.Customer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmPayments.Providers.MoneyMatrix.Responses.Customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GmPayments.Providers.MoneyMatrix.Responses" />
  <xs:complexType name="MoneyMatrixUpdateKycStatusNotificationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/GmPayments.Providers.MoneyMatrix.Responses" base="q1:MoneyMatrixNotificationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="tns:MoneyMatrixKycStatusEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoneyMatrixUpdateKycStatusNotificationRequest" nillable="true" type="tns:MoneyMatrixUpdateKycStatusNotificationRequest" />
  <xs:simpleType name="MoneyMatrixKycStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unverified" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Verified" />
      <xs:enumeration value="Referred" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoneyMatrixKycStatusEnum" nillable="true" type="tns:MoneyMatrixKycStatusEnum" />
</xs:schema>