mainline/GamMatrixAPI/Service References/GmCore/GmSharedTypes.ViG.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmSharedTypes.ViG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmSharedTypes.ViG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ViGAuthenticateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="OTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shared_secret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViGAuthenticateRequest" nillable="true" type="tns:ViGAuthenticateRequest" />
  <xs:complexType name="ViGAuthenticateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="autotransfer" type="xs:float" />
      <xs:element minOccurs="0" name="balance" type="xs:float" />
      <xs:element minOccurs="0" name="curr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViGAuthenticateResponse" nillable="true" type="tns:ViGAuthenticateResponse" />
  <xs:complexType name="ViGMakeDepositRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransferID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:float" />
      <xs:element minOccurs="0" name="curr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shared_secret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViGMakeDepositRequest" nillable="true" type="tns:ViGMakeDepositRequest" />
  <xs:complexType name="ViGMakeDepositResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientTransferID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:float" />
      <xs:element minOccurs="0" name="balance" type="xs:float" />
      <xs:element minOccurs="0" name="curr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViGMakeDepositResponse" nillable="true" type="tns:ViGMakeDepositResponse" />
  <xs:complexType name="ViGEndSessionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransferID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViGBalance" type="xs:float" />
      <xs:element minOccurs="0" name="ViGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shared_secret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViGEndSessionRequest" nillable="true" type="tns:ViGEndSessionRequest" />
  <xs:complexType name="ViGEndSessionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="curr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViGEndSessionResponse" nillable="true" type="tns:ViGEndSessionResponse" />
</xs:schema>