mainline/GamMatrixAPI/Service References/GmCore/GmSharedTypes.Auxiliary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmSharedTypes.Auxiliary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmSharedTypes.Auxiliary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerBaseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffCodes" nillable="true" type="tns:PlayerBaseItem" />
      <xs:element minOccurs="0" name="AffUsers" nillable="true" type="tns:PlayerBaseItem" />
      <xs:element minOccurs="0" name="BonusIds" nillable="true" type="tns:PlayerBaseItem" />
      <xs:element minOccurs="0" name="BonusTypes" nillable="true" type="tns:PlayerBaseItem" />
      <xs:element minOccurs="0" name="Countries" nillable="true" type="tns:PlayerBaseItem" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:PlayerBaseItem" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:PlayerBaseItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerBaseData" nillable="true" type="tns:PlayerBaseData" />
  <xs:complexType name="PlayerBaseItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Excluded" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerBaseItem" nillable="true" type="tns:PlayerBaseItem" />
</xs:schema>