mainline/GamMatrixAPI/Service References/GmCore/VendorProxy9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmSharedTypes.EnterCash" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmSharedTypes.EnterCash" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core2.gm.dev.everymatrix.com/VendorProxy.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEnterCashRequestBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnterCashRequestBankInfo" nillable="true" type="tns:EnterCashRequestBankInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnterCashRequestBankInfo" nillable="true" type="tns:ArrayOfEnterCashRequestBankInfo" />
  <xs:complexType name="EnterCashRequestBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ButtonDepositSupport" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClearingHouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DepositAmounts" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="DepositSupport" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DepositTypes" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DomesticDepositInfo" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DomesticWithdrawalInfo" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InternationalDepositInfo" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InternationalWithdrawalInfo" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WithdrawalSupport" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnterCashRequestBankInfo" nillable="true" type="tns:EnterCashRequestBankInfo" />
  <xs:complexType name="EnterCashResponseSendVerificationCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnterCashResponseSendVerificationCode" nillable="true" type="tns:EnterCashResponseSendVerificationCode" />
</xs:schema>