mainline/GamMatrixAPI/Service References/GmCore/VendorProxy28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmCore.API.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmCore.API.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core2.gm.dev.everymatrix.com/VendorProxy.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/GmCore.Handlers.Base" />
  <xs:import schemaLocation="http://core2.gm.dev.everymatrix.com/VendorProxy.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ReplyResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApiResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GmCore.Handlers.Base" minOccurs="0" name="Reply" nillable="true" type="q1:HandlerRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReplyResponse" nillable="true" type="tns:ReplyResponse" />
  <xs:complexType name="ApiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorRawUserMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorRawUserMessageArgs" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="ErrorSysMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorUserMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiResponse" nillable="true" type="tns:ApiResponse" />
  <xs:complexType name="ArrayOfReplyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReplyResponse" nillable="true" type="tns:ReplyResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReplyResponse" nillable="true" type="tns:ArrayOfReplyResponse" />
</xs:schema>