mainline/GamMatrixAPI/Service References/GmCore/VendorProxy13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmSharedTypes.NetEnt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmSharedTypes.NetEnt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NetEntGetPlayerCurrencyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="currencyIsoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetEntGetPlayerCurrencyResponse" nillable="true" type="tns:NetEntGetPlayerCurrencyResponse" />
  <xs:complexType name="NetEntGetBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" type="xs:double" />
      <xs:element minOccurs="0" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetEntGetBalanceResponse" nillable="true" type="tns:NetEntGetBalanceResponse" />
  <xs:complexType name="NetEntWithdrawResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" type="xs:double" />
      <xs:element minOccurs="0" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="transactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetEntWithdrawResponse" nillable="true" type="tns:NetEntWithdrawResponse" />
  <xs:complexType name="NetEntDepositResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" type="xs:double" />
      <xs:element minOccurs="0" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="transactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetEntDepositResponse" nillable="true" type="tns:NetEntDepositResponse" />
  <xs:complexType name="NetEntWithdrawAndDepositResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" type="xs:double" />
      <xs:element minOccurs="0" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="transactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetEntWithdrawAndDepositResponse" nillable="true" type="tns:NetEntWithdrawAndDepositResponse" />
  <xs:complexType name="NetEntRollbackTransactionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetEntRollbackTransactionResponse" nillable="true" type="tns:NetEntRollbackTransactionResponse" />
</xs:schema>