mainline/GamMatrixAPI/Service References/GmCore/VendorProxy40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmPayments.Providers.MoneyMatrix.Responses.PaymentSolution" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmPayments.Providers.MoneyMatrix.Responses.PaymentSolution" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core2.gm.dev.everymatrix.com/VendorProxy.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PaymentSolutionDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PaymentSolution">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepositProcessingTimeDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Metadata" nillable="true" type="tns:PaymentSolutionMetadata" />
          <xs:element minOccurs="0" name="PaymentCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WithdrawProcessingTimeDesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentSolutionDetails" nillable="true" type="tns:PaymentSolutionDetails" />
  <xs:complexType name="PaymentSolution">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Countries" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Currencies" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDepositSupported" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRefundSupported" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVoidSupported" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWithdrawSupported" type="xs:boolean" />
      <xs:element minOccurs="0" name="MerchantId" type="xs:long" />
      <xs:element minOccurs="0" name="PaymentSolutionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentSolution" nillable="true" type="tns:PaymentSolution" />
  <xs:complexType name="PaymentSolutionMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfPaymentSolutionMetadataField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentSolutionMetadata" nillable="true" type="tns:PaymentSolutionMetadata" />
  <xs:complexType name="ArrayOfPaymentSolutionMetadataField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentSolutionMetadataField" nillable="true" type="tns:PaymentSolutionMetadataField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentSolutionMetadataField" nillable="true" type="tns:ArrayOfPaymentSolutionMetadataField" />
  <xs:complexType name="PaymentSolutionMetadataField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForDeposit" type="xs:boolean" />
      <xs:element minOccurs="0" name="ForWithdraw" type="xs:boolean" />
      <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiresUserInput" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentSolutionMetadataField" nillable="true" type="tns:PaymentSolutionMetadataField" />
  <xs:complexType name="ArrayOfPaymentSolution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentSolution" nillable="true" type="tns:PaymentSolution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentSolution" nillable="true" type="tns:ArrayOfPaymentSolution" />
</xs:schema>