mainline/GamMatrixAPI/Service References/GmCore/VendorProxy6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmCore.Handlers.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmCore.Handlers.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core2.gm.dev.everymatrix.com/VendorProxy.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="HandlerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContextDomainID" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ContextDomains" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="SESSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SESSION_USERID" type="xs:long" />
      <xs:element minOccurs="0" name="SESSION_USERIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SESSION_USERSESSIONID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HandlerRequest" nillable="true" type="tns:HandlerRequest" />
  <xs:complexType name="ArrayOfHandlerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HandlerRequest" nillable="true" type="tns:HandlerRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHandlerRequest" nillable="true" type="tns:ArrayOfHandlerRequest" />
</xs:schema>