mainline/GamMatrixAPI/Service References/GmCore/VendorProxy15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core2.gm.dev.everymatrix.com/VendorProxy.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/GmCore.DAO" />
  <xs:import schemaLocation="http://core2.gm.dev.everymatrix.com/VendorProxy.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/GmCore.DAO.Orm" />
  <xs:import schemaLocation="http://core2.gm.dev.everymatrix.com/VendorProxy.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/GmCore.DAO.Data" />
  <xs:complexType name="ArrayOfKeyValueOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringstring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring" />
  <xs:complexType name="ArrayOfdecimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="decimal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdecimal" nillable="true" type="tns:ArrayOfdecimal" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfstringty7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfstring" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
  <xs:complexType name="ArrayOflong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="long" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflong" nillable="true" type="tns:ArrayOflong" />
  <xs:complexType name="ArrayOfKeyValueOfstringdecimal">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringdecimal">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" type="xs:decimal" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringdecimal" nillable="true" type="tns:ArrayOfKeyValueOfstringdecimal" />
  <xs:complexType name="ArrayOfKeyValueOfModuleIDModuleRecSUJW4md7">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfModuleIDModuleRecSUJW4md7">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GmCore.DAO" name="Key" type="q1:ModuleID" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GmCore.DAO.Orm" name="Value" nillable="true" type="q2:ModuleRec" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfModuleIDModuleRecSUJW4md7" nillable="true" type="tns:ArrayOfKeyValueOfModuleIDModuleRecSUJW4md7" />
  <xs:complexType name="ArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GmCore.DAO" name="Key" type="q3:ModuleID" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0" nillable="true" type="tns:ArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0" />
  <xs:complexType name="ArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GmCore.DAO" name="Key" type="q4:ModuleFeatureID" />
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GmCore.DAO.Orm" name="Value" nillable="true" type="q5:ModuleFeatureRec" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7" nillable="true" type="tns:ArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7" />
  <xs:complexType name="ArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GmCore.DAO" name="Key" type="q6:ModuleID" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0" nillable="true" type="tns:ArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0" />
  <xs:complexType name="ArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GmCore.DAO" name="Key" type="q7:ModuleFeatureID" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfstringstring" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0" nillable="true" type="tns:ArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfKeyValueOflongSDAAccountDatauTbhHZVR">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongSDAAccountDatauTbhHZVR">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GmCore.DAO.Data" name="Value" nillable="true" type="q8:SDAAccountData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongSDAAccountDatauTbhHZVR" nillable="true" type="tns:ArrayOfKeyValueOflongSDAAccountDatauTbhHZVR" />
  <xs:complexType name="ArrayOfKeyValueOfTemplateTypeArrayOfKeyValueOfNotificationTypeTemplateRecSUJW4md7_S4JL7hw0">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfTemplateTypeArrayOfKeyValueOfNotificationTypeTemplateRecSUJW4md7_S4JL7hw0">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GmCore.DAO" name="Key" type="q9:TemplateType" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfNotificationTypeTemplateRecSUJW4md7" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfTemplateTypeArrayOfKeyValueOfNotificationTypeTemplateRecSUJW4md7_S4JL7hw0" nillable="true" type="tns:ArrayOfKeyValueOfTemplateTypeArrayOfKeyValueOfNotificationTypeTemplateRecSUJW4md7_S4JL7hw0" />
  <xs:complexType name="ArrayOfKeyValueOfNotificationTypeTemplateRecSUJW4md7">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfNotificationTypeTemplateRecSUJW4md7">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GmCore.DAO" name="Key" type="q10:NotificationType" />
            <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GmCore.DAO.Orm" name="Value" nillable="true" type="q11:TemplateRec" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfNotificationTypeTemplateRecSUJW4md7" nillable="true" type="tns:ArrayOfKeyValueOfNotificationTypeTemplateRecSUJW4md7" />
  <xs:complexType name="ArrayOfKeyValueOfstringanyType">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringanyType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringanyType" nillable="true" type="tns:ArrayOfKeyValueOfstringanyType" />
  <xs:complexType name="ArrayOfKeyValueOflongArrayOfstringty7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongArrayOfstringty7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfstring" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongArrayOfstringty7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOflongArrayOfstringty7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0ty7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0ty7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0ty7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDArrayOfKeyValueOfstringstring_S4JL7hw0_S4JL7hw0ty7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0ty7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0ty7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0ty7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDArrayOfKeyValueOfModuleFeatureIDModuleFeatureRecSUJW4md7_S4JL7hw0ty7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDModuleRecSUJW4md7ty7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongArrayOfKeyValueOfModuleIDModuleRecSUJW4md7ty7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfModuleIDModuleRecSUJW4md7" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDModuleRecSUJW4md7ty7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOflongArrayOfKeyValueOfModuleIDModuleRecSUJW4md7ty7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValueOflongint">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongint">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element name="Value" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongint" nillable="true" type="tns:ArrayOfKeyValueOflongint" />
  <xs:complexType name="ArrayOfanyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfanyType" nillable="true" type="tns:ArrayOfanyType" />
</xs:schema>