mainline/GamMatrixAPI/Service References/GmCore/VendorProxy30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GmCore.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GmCore.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEnumDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnumDetails" nillable="true" type="tns:EnumDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnumDetails" nillable="true" type="tns:ArrayOfEnumDetails" />
  <xs:complexType name="EnumDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnumDetails" nillable="true" type="tns:EnumDetails" />
</xs:schema>